<IfModule mod_rewrite.c>
 RewriteEngine on
 RewriteBase /react-admin-panel/
 RewriteCond %{REQUEST_FILENAME} -s [OR]
 #Rewrite Conditions 
 RewriteCond %{REQUEST_FILENAME} -l [OR]
 RewriteCond %{REQUEST_FILENAME} -d
 RewriteRule ^.*$ – [NC,L]
 RewriteRule ^(.*) /react-admin-panel/index.html [NC,L]
 </IfModule>