.list-style-none{
	list-style: none !important;
}

.div-top{
	margin-top: 20px!important;
}

.is-done {
	text-decoration: line-through;
}

.card{
	margin:5px;
}

.card-link+.card-link {
    margin-left: 0.5rem !important;
}

.status-btn-group button{
	width: 101px;
}

.card-body{
	height: 175px !important;
	padding: 0.75rem !important;
}

.card-body .card-text{
	height: 100px !important;
	margin: 10px 0;
}

.card-body .textarea-todo{
	height: 89px !important;
	width: 220px !important;
	margin: 10px 0 10px 0;
}

.badge {
	color:#fff;
}

.h-20p{
	height: 20px;
}